@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-grid-pattern {
        background-image: linear-gradient(to right, #e5e7eb 1px, transparent 1px), linear-gradient(to bottom, #e5e7eb 1px, transparent 1px);
        background-size: 24px 24px;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    @apply text-gray-800 antialiased;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
    @apply bg-indigo-600 rounded-full;
}

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-indigo-700;
    }
